{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="content-section col-md-10">
    <form action="" method="POST">
      {% csrf_token %}

      <fieldset class="form-group">
        <legend class="border-bottom mb-3">Регистрация</legend>
        {{ form|crispy }}
      </fieldset>

      <div class="form-group">
        <button class="btn btn-light">Зарегистрироваться</button>
      </div>
    </form>

    <div class="border-top pt-2">
      <small class="text-muted">
        У вас уже есть аккаунт? <a class="ml-2" href="{% url 'login' %}">Войти</a>
      </small>
    </div>
{% endblock %}