{% extends 'main/base.html' %}

{% block content %}
  <h1>HomePage</h1>
  {% if user.is_authenticated %}
    Hi {{ user.username }}
    <a href="{% url 'logout' %}">Log Out</a>
  {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'users:signup' %}">Sign Up</a>
    <a href="{% url 'password_reset' %}">Reset</a>
  {% endif %}

  {% for post in page_obj %}
    <p><a href="{% url 'main:postdetail' post.pk %}">{{ post.title }}</a></p>
    {{ post.date_added|date:'M d, Y H:i' }}
    <p>{{ post.text|truncatechars:200 }}</p>
  {% endfor %}

  {% if page_obj.has_previous %}
    <a class="btn btn-light" href="?page=1">Первая</a>
    <a class="btn btn-light" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
  {% endif %}

  {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
      <a class="btn btn-light" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
      <a class="btn btn-light" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
    <a class="btn btn-light" href="?page={{ page_obj.next_page_number }}">Следующая</a>
    <a class="btn btn-light" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
  {% endif %}

{% endblock %}